<div class="main-lists">
<div class="wrapper">
<h1>{{localize "TITLE.COMPLEMENT"}}</h1>
<div class="crew-list">
    <div class="item-list complement-list" data-type="pilot">
        <div class="header">
            <div class="item-property item-image"></div>
            <span class="item-property item-name">{{localize "HEADER.PILOTS"}}</span>
            <input type="number" name="system.complement.pilot" value="{{system.complement.pilot}}">
        </div>
        {{#each complement.pilot}}
            <div class="item" data-complement-id="{{this.id}}" data-index="{{this.index}}">
                <div class="item-content">
                    {{#if this.document}}
                        <img class="item-property item-image" src="{{tokenImg this.document}}"></img>
                        <div class="item-property item-name">{{this.document.name}}</div>
                        <div class="item-controls">
                            <a class="item-control complement-delete" title="Delete Item"><i
                                    class="fas fa-times"></i></a>
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </div>

    <div class="item-list complement-list" data-type="crew">
        <div class="header">
            <div class="item-property item-image"></div>
            <span class="item-property item-name">{{localize "HEADER.CREW"}}</span>
            <input type="number" name="system.complement.crew" value="{{system.complement.crew}}">
        </div>
        {{#each complement.crew}}
            <div class="item" data-complement-id="{{this.id}}" data-index="{{this.index}}">
                <div class="item-content">
                    {{#if this.document}}
                        <img class="item-property item-image" src="{{tokenImg this.document}}"></img>
                        <div class="item-property item-name">{{this.document.name}}</div>
                        <div class="item-controls">
                            <a class="item-control complement-delete" title="Delete Item"><i
                                    class="fas fa-times"></i></a>
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </div>

    <div class="item-list complement-list" data-type="passenger">
        <div class="header">
            <div class="item-property item-image"></div>
            <span class="item-property item-name">{{localize "HEADER.PASSENGERS"}}</span>
            <input type="number" name="system.complement.passenger" value="{{system.complement.passenger}}">
        </div>
        {{#each complement.passenger}}
            <div class="item" data-complement-id="{{this.id}}" data-index="{{this.index}}">
                <div class="item-content">
                    {{#if this.document}}
                        <img class="item-property item-image" src="{{tokenImg this.document}}"></img>
                        <div class="item-property item-name">{{this.document.name}}</div>
                        <div class="item-controls">
                            <a class="item-control complement-delete" title="Delete Item"><i
                                    class="fas fa-times"></i></a>
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </div>

    <div class="item-list complement-list" data-type="unassigned">
        <div class="header">
            <div class="item-property item-image"></div>
            <span class="item-property item-name">{{localize "HEADER.UNASSIGNED"}}</span>
        </div>
        {{#each complement.unassigned}}
            <div class="item" data-complement-id="{{this.id}}" data-index="{{this.index}}">
                <div class="item-content">
                    {{#if this.document}}
                        <img class="item-property item-image" src="{{tokenImg this.document}}"></img>
                        <div class="item-property item-name">{{this.document.name}}</div>
                        <div class="item-controls">
                            <a class="item-control complement-delete" title="Delete Item"><i
                                    class="fas fa-times"></i></a>
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </div>
</div>
</div>

<div class="wrapper">
<h1>{{localize "TITLE.WARGEAR"}}</h1>
<div class="item-list weapon-list">
        <div class="weapon-list">
        <div class="header">
          <div class="item-property item-image"></div>
          <span class="item-property item-name">{{localize "HEADER.WEAPON"}}</span>
          <span class="item-property">{{localize "WEAPON.DAMAGE"}}</span>
          <span class="item-property small">{{localize "WEAPON.ED"}}</span>
          <span class="item-property small">{{localize "WEAPON.AP"}}</span>
          <span class="item-property">{{localize "WEAPON.RANGE"}}</span>
          <span class="item-property flex">{{localize "HEADER.AMMO"}}</span>
        </div>
        {{#each items.equipped.weapons as |item|}}
        <div class="item" data-item-id="{{item.id}}">
          <div class="item-content roll-weapon item-dropdown-right">
              <img class="item-property item-image" src="{{item.img}}"></img>
              <div class="item-property item-name">{{#if item.system.twinned}}{{localize "WEAPON.TWINNED"}}{{/if}} {{item.name}}</div>

              <div class="item-property">{{itemsystem.damage.formatted}}</div>
              <div class="item-property small">{{item.system.damage.ED}}</div>
              <div class="item-property small">{{item.system.damage.AP}}</div>
              <div class="item-property">{{item.system.Range}}</div>
              <div class="item-property flex">
                {{#if item.isRanged}}
                <select class="property-edit" data-target="system.ammo">
                  {{#select item.ammo}}
                  <option value="">-</option>
                  {{#each item.ammoList as |item|}}
                  <option value="{{item.id}}">{{item.name}} ({{item.quantity}})</option>
                  {{/each}}
                  {{/select}}
                </select>
                {{/if}}
              </div>
          </div>
          {{#if item.system.traits.list.length}}
          <div class="item-content-extra">
            <span class="item-traits"><b>Traits:</b> {{{array item.system.traits.formatted "item-trait"}}}</span>
          </div>
          {{/if}}
        </div>
        {{/each}}
      </div>

      {{#if items.equipped.ammo.length}}
      <div class="item-list">
        <div class="header">
          <div class="item-property item-image"></div>
          <span class="item-property item-name">{{localize "HEADER.AMMO"}}</span>
          <span class="item-property">{{localize "ITEM.QTY"}}</span>
        </div>
        {{#each items.equipped.ammo as |item|}}
        <div class="item" data-item-id="{{item.id}}">
          <div class="item-content">
              <img class="item-property item-image" src="{{item.img}}"></img>
              <div class="item-property item-name item-dropdown">{{item.name}}</div>
              <div class="item-property qty-click">
                <button type="button" class="qty-click" data-type="decrement">-</button>
                {{item.quantity}}
                <button type="button" class="qty-click" data-type="increment">+</button>
              </div>
          </div>
        </div>
        {{/each}}
      </div>
      {{/if}}
</div>
</div>

</div>

<div class="wrapper traits">
    <div class="wrapper-item">
        <label>{{localize "VEHICLE.TRAITS"}}<a class="vehicle-traits"><i class="fas fa-cog"></i></a></label>
        <input disabled type="text" value="{{system.traits.formatted}}" />
    </div>
</div>

<div class="wrapper" style="margin-top: 8px;">
    <h1>{{localize "TITLE.KEYWORDS"}}</h1>
    <div class="item-row">
        <div class="button">
            <button class="item-create" title="Add Keyword" data-type="keyword">+</a>
        </div>
        {{#each items.keywords as |item|}}
            <div class="item" data-item-id="{{item.id}}">
                <div class="wrapper-hover">
                    <div class="avatar" style="background-image: url('{{item.img}}')"></div>
                    <div class="name item-edit">{{item.name}}</div>
                </div>
                <div class="button item-control item-delete" title="Delete Keyword">
                    <a><i class="fas fa-times"></i></a>
                </div>
            </div>
        {{/each}}
    </div>
</div>