<div class="effects">


  <div class="condition-list">
    {{#each effects.conditions as |effect e|}}
    <div class="condition" data-tooltip="{{effect.name}}" data-key={{effect.key}} {{#unless effect.existing}}style="opacity:0.5"{{/unless}}>
        <a class="condition-click"><img src="{{effect.img}}"/></a>
        <a class="condition-toggle">
          {{#if effect.existing}}
          <i class="far fa-check-square"></i>
          {{else}}
          <i class="far fa-square"></i>
          {{/if}}
        </a>
    </div>
    {{/each}}
  </div>


  <div class="item-list">
    <div class="header">
      <div class="item-property item-image"></div>
      <span class="item-property item-name">{{localize "HEADER.TEMPORARY_EFFECTS"}}</span>
      <span class="item-property flex">{{localize "HEADER.SOURCE"}}</span>
      <div class="item-controls">
        <a class="effect-create" title="Create Effect" data-type="temporary"><i class="fas fa-plus"></i></a>
      </div>
    </div>
    {{#each effects.temporary as |effect|}}
    <div class="item" data-uuid="{{effect.uuid}}">
      <div class="item-content">
          <img class="item-property item-image" src="{{effect.img}}"></img>
          <div class="item-property item-name effect-edit">{{effect.name}}</div>
          
          <div class="item-property flex">{{effect.sourceName}}</div>
          <div class="item-controls">
            <a class="item-control effect-toggle" title="Disable Effect"><i class="far fa-check-circle"></i></a>
            <a class="item-control effect-delete" title="Delete Effect"><i class="fas fa-times"></i></a>
          </div>
      </div>
          {{> sheetButtonsV1 document=effect}}

    </div>
    {{/each}}
  </div>
  
  <hr>

  <div class="item-list">
    <div class="header">
      <div class="item-property item-image"></div>
      <span class="item-property item-name">{{localize "HEADER.PASSIVE_EFFECTS"}}</span>
      <span class="item-property flex">{{localize "HEADER.SOURCE"}}</span>
      <div class="item-controls">
        <a class="effect-create" title="Create Effect" data-type="passive"><i class="fas fa-plus"></i></a>
      </div>
    </div>
    {{#each effects.passive as |effect|}}
    <div class="item" data-uuid="{{effect.uuid}}">
      <div class="item-content">
          <img class="item-property item-image" src="{{effect.img}}"></img>
          <div class="item-property item-name effect-edit">{{effect.name}}</div>
          
          <div class="item-property flex">{{effect.sourceName}}</div>
          <div class="item-controls">
            <a class="item-control effect-toggle" title="Disable Effect"><i class="far fa-check-circle"></i></a>
            <a class="item-control effect-delete" title="Delete Effect"><i class="fas fa-times"></i></a>
          </div>
      </div>
        {{> sheetButtonsV1 document=effect}}

    </div>
    {{/each}}
  </div>
  
  <hr>

  <div class="item-list">
    <div class="header">
      <div class="item-property item-image"></div>
      <span class="item-property item-name">{{localize "HEADER.DISABLED_EFFECTS"}}</span>
      <span class="item-property flex">{{localize "HEADER.SOURCE"}}</span>
      <div class="item-controls">
      </div>
    </div>
    {{#each effects.disabled as |effect|}}
    <div class="item" data-uuid="{{effect.uuid}}">
      <div class="item-content" style="opacity : 0.5">
          <img class="item-property item-image" src="{{effect.img}}"></img>
          <div class="item-property item-name effect-edit">{{effect.name}}</div>
          
          <div class="item-property flex">{{effect.sourceName}}</div>
          <div class="item-controls">
            <a class="item-control effect-toggle" title="Enable Effect"><i class="far fa-circle"></i></a>
            <a class="item-control effect-delete" title="Delete Effect"><i class="fas fa-times"></i></a>
          </div>
      </div>
    </div>
    {{/each}}
  </div>

</div>

<div class="system-effects wrapper">
  <label>Add System Effect</label>
  <select class="effect-select">
    <option value="">-</option>
    {{#each (config "systemEffects") as |effect e|}}
    <option value="{{e}}">{{effect.name}}</option>
    {{/each}}
  </select>
</div>
