<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">
    <h2 class="sheet-divider">{{localize "TITLE.ADVANCES"}}</h2>
    <div class="notes-section">

        <div class="advances labels">
            <div class="attribute-box single small">
            </div>

            <div class="attribute-box single small">
            </div>

            <div class="attribute-box single">
            </div>

            <div class="attribute-box single experience">
                <div class="label" style="grid-column: 1 / span 3"></div>
                <div class="label" style="grid-column: 4 / span 3"> {{localize "HEADER.CURRENT"}}</div>
                <div class="label" style="grid-column: 7 / span 3"> {{localize "HEADER.SPENT"}}</div>
                <div class="label" style="grid-column: 10 / span 3"> {{localize "HEADER.TOTAL"}}</div>
            </div>
        </div>
        <div class="advances">
            <div class="attribute-box single small">
                <div class="label" style="grid-column: 1 / span 8">{{localize "ADVANCE.TIER"}}</div>
                <div class="field" style="grid-column: 9 / span 4"><input type="number" name="system.advances.tier"
                        value="{{system.advances.tier}}"></div>
            </div>

            <div class="attribute-box single small">
                <div class="label" style="grid-column: 1 / span 8">{{localize "ADVANCE.RANK"}}</div>
                <div class="field" style="grid-column: 9 / span 4"><input type="number" name="system.advances.rank"
                        value="{{system.advances.rank}}"></div>
            </div>

            <div class="attribute-box single">
                <div class="label" style="grid-column: 1 / span 8">{{localize "BIO.ARCHETYPE"}}</div>
                <div class="field" style="grid-column: 10 / span 3"> <input type="number"
                        value="{{actor.archetype.cost}}" disabled></div>
            </div>

            <div class="attribute-box single experience">
                <div class="label" style="grid-column: 1 / span 3">{{localize "RESOURCE.EXPERIENCE"}}</div>
                <div class="field" style="grid-column: 4 / span 3"> <input type="number"
                        value="{{system.experience.current}}" disabled /></div>
                <div class="field" style="grid-column: 7 / span 3"> <input type="number"
                        value="{{system.experience.spent}}" disabled /></div>
                <div class="field" style="grid-column: 10 / span 3"> <input type="number" name="system.experience.total"
                        value="{{system.experience.total}}" /></div>
            </div>

        </div>

    </div>
    <h2 class="sheet-divider">{{localize "TITLE.DETAILS"}}</h2>

    <div class="notes-section">
        <div class="flexrow">
            <div class="attribute-box single">
                <div class="label" style="grid-column: 1 / span 6">{{localize "BIO.HEIGHT"}}</div>
                <div class="field" style="grid-column: 7 / span 6"><input type="text" name="system.bio.height"
                        value="{{system.bio.height}}"></div>
            </div>

            <div class="attribute-box single">
                <div class="label" style="grid-column: 1 / span 6">{{localize "BIO.EYE_COLOUR"}}</div>
                <div class="field" style="grid-column: 7 / span 6"><input type="text" name="system.bio.eye"
                        value="{{system.bio.eye}}"></div>
            </div>

            <div class="attribute-box single">
                <div class="label" style="grid-column: 1 / span 6">{{localize "BIO.HAIR_COLOUR"}}</div>
                <div class="field" style="grid-column: 7 / span 6"> <input type="text" name="system.bio.hair"
                        value="{{system.bio.hair}}"></div>
            </div>
        </div>
    </div>

    <div class="attribute-box single">
        <div class="label" style="grid-column: 1 / span 4">{{localize "BIO.ORIGIN"}}</div>
        <div class="field" style="grid-column: 5 / span 8"><input type="text" name="system.bio.origin"
                value="{{system.bio.origin}}" /></div>
    </div>

    <div class="attribute-box single">
        <div class="label" style="grid-column: 1 / span 4">{{localize "BIO.ACCOMPLISHMENT"}}</div>
        <div class="field" style="grid-column: 5 / span 8"><input type="text" name="system.bio.accomplishment"
                value="{{system.bio.accomplishment}}" /></div>
    </div>

    <div class="attribute-box single">
        <div class="label" style="grid-column: 1 / span 4">{{localize "BIO.GOAL"}}</div>
        <div class="field" style="grid-column: 5 / span 8"> <input type="text" name="system.bio.goal"
                value="{{system.bio.goal}}" /></div>
    </div>

    <div class="attribute-box single">
        <div class="label" style="grid-column: 1 / span 3"><a class="roll-objective">{{localize "BIO.OBJECTIVE"}} <i
                    class="fa-solid fa-dice"></i></a></div>
        <div class="field" style="grid-column: 4 / span 9"> <input type="text" name="system.bio.objective"
                value="{{system.bio.objective}}" /></div>
    </div>

    <h2 class="sheet-divider">{{localize "TITLE.ASCENSION"}}</h2>

    <div class="ascensions">
        <button data-action="createItem" data-type="ascension"><i class="fa-solid fa-plus"></i></button>
        {{#each items.ascension}}
            <div class="ascension context-menu-alt" data-uuid="{{this.uuid}}">
                <img src="{{this.img}}">
                <a data-action="editEmbedded">
                    {{this.name}}
                </a>
            </div>
        {{/each}}
    </div>

    <h2 class="sheet-divider">{{localize "TITLE.NOTES"}}</h2>
    <div class="editor-section">
        {{formInput fields.notes value=system.notes enriched=enriched.system.notes toggled=true}}
    </div>

</section>

</section>