<form class="{{cssClass}}" autocomplete="off">
  <div class="faction">
    <div class="sheet-header">
      <div class="avatar">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{name}}" />
      </div>
      <div class="bio">
        <div class="wrapper-row">
          <div class="name">
            <label>{{localize "FACTION.NAME"}}</label>
            <input name="name" type="text" value="{{name}}" />
          </div>
        </div>
      </div>
    </div>

    <div class="sheet-tabs tabs" data-group="primary">
      <b class="item" data-tab="details">{{localize "TAB.DETAILS"}}</b>

      <b class="item" data-tab="effects">{{localize "TAB.EFFECTS"}}</b>
    </div>

    <div class="sheet-body">
      <div class="tab" data-group="primary" data-tab="details">
        <div class="faction-backgrounds">
          <div class="backgrounds" data-path="system.backgrounds.origin">
            <h1>{{localize "FACTION.ORIGIN"}} {{#if options.editable}} <button type="button" class="add-background">+</button>{{/if}}</h1>
            <div class="background-header">
              {{#if item.isOwned}}
              <div style="flex: 0 0 31px"></div>
              {{/if}}
              <div class="bg-name">{{localize "FACTION.NAME"}}</div>
              <div class="bg-description">{{localize "FACTION.DESCRIPTION"}}</div>
              <div class="bg-effect">{{localize "FACTION.EFFECT"}}</div>
              <div style="flex: 0 0 20px"></div>
            </div>
            <div class="background-list">
              {{#each system.backgrounds.origin as |background bg|}}
              <div class="background" data-index="{{bg}}">
                {{#if ../item.isOwned}}
                <div class="wng-checkbox {{#if background.active}}checked{{else}}unchecked{{/if}}" data-target="system.backgrounds.origin" data-index="{{bg}}" data-inner-target="active" >
                  {{#if background.active}}
                    <i class="fas fa-check"></i>
                  {{/if}}
                  </div>
                {{/if}}
                <input class="bg-name" data-path="name" type="text" value="{{background.name}}" />
                <input class="bg-description" data-path="description" type="text" value="{{background.description}}" />
                <select class="bg-effect" data-path="effect">
                  {{#select background.effect}}
                  <option value=""></option>
                  {{#each ../item.effects as |effect e|}}
                  <option value="{{effect.id}}">{{effect.label}}</option>
                  {{/each}}
                  {{/select}}
                </select>
                {{#if ../options.editable}}
                <a class="background-delete"><i class="fas fa-times"></i></a>
                {{/if}}
              </div>
              {{/each}}
            </div>
            
          </div>
          <div class="backgrounds" data-path="system.backgrounds.accomplishment">
            <h1>{{localize "FACTION.ACCOMPLISHMENT"}} {{#if options.editable}} <button type="button" class="add-background">+</button>{{/if}}</h1>
            <div class="background-header">
              {{#if item.isOwned}}
              <div style="flex: 0 0 31px"></div>
              {{/if}}
              <div class="bg-name">{{localize "FACTION.NAME"}}</div>
              <div class="bg-description">{{localize "FACTION.DESCRIPTION"}}</div>
              <div class="bg-effect">{{localize "FACTION.EFFECT"}}</div>
              <div style="flex: 0 0 20px"></div>
            </div>
            <div class="background-list">
              {{#each system.backgrounds.accomplishment as |background bg|}}
              <div class="background" data-index="{{bg}}">
                {{#if ../item.isOwned}}
                <div class="wng-checkbox {{#if background.active}}checked{{else}}unchecked{{/if}}" data-target="system.backgrounds.accomplishment" data-index="{{bg}}" data-inner-target="active">
                  {{#if background.active}}
                    <i class="fas fa-check"></i>
                  {{/if}}
                  </div>
                {{/if}}
                <input class="bg-name" data-path="name" type="text" value="{{background.name}}" />
                <input class="bg-description" data-path="description" type="text" value="{{background.description}}" />
                <select class="bg-effect" data-path="effect">
                  {{#select background.effect}}
                  <option value=""></option>
                  {{#each ../item.effects as |effect e|}}
                  <option value="{{effect.id}}">{{effect.label}}</option>
                  {{/each}}
                  {{/select}}
                </select>
                {{#if ../options.editable}}
                <a class="background-delete"><i class="fas fa-times"></i></a>
                {{/if}}
              </div>
              {{/each}}
            </div>
            
          </div>
          <div class="backgrounds" data-path="system.backgrounds.goal">
            <h1>{{localize "FACTION.GOAL"}} {{#if options.editable}} <button type="button" class="add-background">+</button> {{/if}}</h1>
            <div class="background-header">
              {{#if item.isOwned}}
              <div style="flex: 0 0 31px"></div>
              {{/if}}
              <div class="bg-name">{{localize "FACTION.NAME"}}</div>
              <div class="bg-description">{{localize "FACTION.DESCRIPTION"}}</div>
              <div class="bg-effect">{{localize "FACTION.EFFECT"}}</div>
              <div style="flex: 0 0 20px"></div>
            </div>
            <div class="background-list">
              {{#each system.backgrounds.goal as |background bg|}}
              <div class="background" data-index="{{bg}}">
                {{#if ../item.isOwned}}
                <div class="wng-checkbox {{#if background.active}}checked{{else}}unchecked{{/if}}" data-target="system.backgrounds.goal" data-index="{{bg}}" data-inner-target="active">
                  {{#if background.active}}
                    <i class="fas fa-check"></i>
                  {{/if}}
                  </div>
                {{/if}}
                <input class="bg-name" data-path="name" type="text" value="{{background.name}}" />
                <input class="bg-description" data-path="description" type="text" value="{{background.description}}" />
                <select class="bg-effect" data-path="effect">
                  {{#select background.effect}}
                  <option value=""></option>
                  {{#each ../item.effects as |effect e|}}
                  <option value="{{effect.id}}">{{effect.label}}</option>
                  {{/each}}
                  {{/select}}
                </select>
                {{#if ../options.editable}}
                <a class="background-delete"><i class="fas fa-times"></i></a>
                {{/if}}
              </div>
              {{/each}}
            </div>
            
          </div>
        </div>

        <div class="objectives backgrounds" data-path="system.objectives">
          <h1>{{localize "FACTION.OBJECTIVES"}}  {{#if options.editable}} <button type="button" class="add-background">+</button>{{/if}}</h1>
          <div class="objectives-list backgrounds" >
            {{#each system.objectives as |objective o|}}
            <input class="objective" data-index={{o}} type="text" value="{{objective}}" />
            {{/each}}
          </div>
         
        </div>
      </div>

      <div class="tab" data-group="primary" data-tab="effects">
        {{> systems/wrath-and-glory/template/item/tab/effects.hbs}}
      </div>
    </div>
  </div>
</form>