<form class="{{cssClass}}" autocomplete="off">
  <div class="traumatic-injury">
    <div class="sheet-header">
      <div class="avatar">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{name}}" />
      </div>
      <div class="bio">
        <div class="wrapper-row">
          <div class="name">
            <label>{{localize "TRAUMATIC_INJURY.NAME"}}</label>
            <input name="name" type="text" value="{{name}}" />
          </div>
        </div>
      </div>
    </div>

    <div class="sheet-tabs tabs" data-group="primary">
      <b class="item" data-tab="description">{{localize "TAB.DESCRIPTION"}}</b>
      <b class="item" data-tab="effects">{{localize "TAB.EFFECTS"}}</b>
    </div>

    <div class="sheet-body">
      <div class="tab" data-group="primary" data-tab="description">
        <div class="description">
          {{editor enrichment.system.description target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
        </div>
      </div>

      <div class="tab" data-group="primary" data-tab="effects">
        {{> systems/wrath-and-glory/template/item/tab/effects.hbs}}
      </div>
    </div>
  </div>
</form>