<form class="{{cssClass}}" autocomplete="off">
  <div class="weapon-upgrade">
    <div class="sheet-header">
      <div class="avatar">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{name}}" />
      </div>
      <div class="bio">
        <div class="wrapper-row">
          <div class="name">
            <label>{{localize "WEAPON_UPGRADE.NAME"}}</label>
            <input name="name" type="text" value="{{name}}" />
          </div>
        </div>
      </div>
    </div>

    <div class="sheet-tabs tabs" data-group="primary">
      <b class="item" data-tab="description">{{localize "TAB.DESCRIPTION"}}</b>
      <b class="item" data-tab="stats">{{localize "TAB.STATS"}}</b>
      <b class="item" data-tab="effects">{{localize "TAB.EFFECTS"}}</b>
    </div>

    <div class="sheet-body">
      <div class="tab" data-group="primary" data-tab="description">
        <div class="description">
          {{editor enrichment.system.description target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
        </div>
      </div>
      <div class="tab" data-group="primary" data-tab="stats">
        <div class="wrapper">
          <div class="item-form-group static">
            <label>{{localize "WEAPON_UPGRADE.VALUE"}}</label>
            <div class="item-form-inputs small">
              <input name="system.value" type="number" value="{{system.value}}" data-dtype="Number" />
            </div>
          </div>
          <div class="item-form-group static">
            <label>{{localize "WEAPON_UPGRADE.RARITY"}}</label>
            <div class="item-form-inputs">
              <select name="system.rarity">
              {{#select system.rarity}}
              <option value=""> - </option>
              {{#each (config "rarity") as |rarity r|}}
              <option value="{{r}}">{{rarity}}</option>
              {{/each}}
              {{/select}}
            </select>
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="item-form-group stacked">
            <label>{{localize "WEAPON_UPGRADE.TRAITS_ADD"}}<a class="item-traits add"><i class="fas fa-cog"></i></a></label>
            <div class="item-form-inputs">
              <input disabled type="text" value="{{item.system.traits.added}}" />
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="item-form-group stacked">
            <label>{{localize "WEAPON_UPGRADE.TRAITS_REMOVE"}}<a class="item-traits remove"><i class="fas fa-cog"></i></a></label>
            <div class="item-form-inputs">
              <input disabled type="text" value="{{item.system.traits.removed}}" />
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="item-form-group">
            <label>{{localize "WEAPON_UPGRADE.KEYWORDS"}}</label>
            <div class="item-form-inputs">
              <input name="system.keywords" type="text" value="{{system.keywords}}" />
            </div>
          </div>
        </div>
      </div>
        <div class="tab" data-group="primary" data-tab="effects">
          {{> systems/wrath-and-glory/template/item/tab/effects.hbs}}
        </div>
    </div>
  </div>
</form>