<form class="{{cssClass}}" autocomplete="off">
  <div class="weapon">
    <div class="sheet-header">
      <div class="avatar">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{name}}" />
      </div>
      <div class="bio">
        <div class="wrapper-row">
          <div class="name">
            <label>{{localize "WEAPON.NAME"}}</label>
            <input name="name" type="text" value="{{name}}" />
          </div>
        </div>
      </div>
    </div>

    <div class="sheet-tabs tabs" data-group="primary">
      <b class="item" data-tab="description">{{localize "TAB.DESCRIPTION"}}</b>
      <b class="item" data-tab="stats">{{localize "TAB.STATS"}}</b>

      <b class="item" data-tab="effects">{{localize "TAB.EFFECTS"}}</b>
    </div>

    <div class="sheet-body">
      <div class="tab" data-group="primary" data-tab="description">
        <div class="description">
          {{editor enrichment.system.description target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
        </div>
      </div>
      <div class="tab" data-group="primary" data-tab="stats">
        <div class="wrapper">
          <div class="item-form-group static">
            <label>{{localize "WEAPON.CATEGORY"}}</label>
            <select name="system.category">
              {{#select system.category}}
                <option value="melee">{{localize "CATEGORY.MELEE"}}</option>
                <option value="ranged">{{localize "CATEGORY.RANGED"}}</option>
                <option value="grenade-missile">{{localize "CATEGORY.GRENADE_MISSILE"}}</option>
                <option value="launcher">{{localize "CATEGORY.LAUNCHER"}}</option>
              {{/select}}
            </select>
          </div>
          <div class="item-form-group static">
            <label>{{localize "WEAPON.QUANTITY"}}</label>
            <div class="item-form-inputs small">
              <input name="system.quantity" type="number" value="{{system.quantity}}" />
            </div>
          </div>
        </div>
        {{#if (eq rangeType "multi")}}
          <div class="wrapper">
            <div class="item-form-group static">
              <label>{{localize "WEAPON.SALVO"}}</label>
              <div class="item-form-inputs small">
                <input name="system.salvo" type="number" value="{{system.salvo}}" />
              </div>
            </div>
            <div class="item-form-group static">
              <label>{{localize "WEAPON.RANGE"}}</label>
              <div class="item-form-inputs medium">
                <input name="system.range.short" type="number" value="{{system.range.short}}" />
                <input name="system.range.medium" type="number" value="{{system.range.medium}}" />
                <input name="system.range.long" type="number" value="{{system.range.long}}" />
              </div>
            </div>
          </div>
        {{else}}
          <div class="wrapper">
            <div class="item-form-group static">
              <label>{{localize "WEAPON.RANGE"}}</label>
              <div class="item-form-inputs small">
                <input name="system.range.melee" type="number" value="{{system.range.melee}}" />
              </div>
            </div>
            <div class="item-form-group static">
              <label>{{localize "WEAPON.THROWN"}} S x </label>
              <div class="item-form-inputs small">
                <input name="system.range.thrown" type="number" value="{{system.range.thrown}}" />
              </div>
            </div>
          </div>
        {{/if}}
        {{> damage hideEnabled=true hideOther=true}}

        <div class="wrapper">
          {{#if (eq item.actor.type "vehicle")}}
            <div class="item-form-group static">
              <label>{{localize "WEAPON.TWINNED"}}</label>
              <div class="item-form-inputs">
                <div class="wng-checkbox {{#if system.twinned}}checked{{else}}unchecked{{/if}}"
                  data-target="system.twinned">
                  {{#if system.twinned}}
                    <i class="fas fa-check"></i>
                  {{/if}}
                </div>
              </div>
            </div>
          {{/if}}
          <div class="item-form-group">
            <label>{{localize "WEAPON.COMBIWEAPON"}}</label>
            <div class="item-form-inputs">
              <select name="system.combi.id" {{#unless item.isOwned}}disabled
                data-tooltip="This can only be configured when this Item is Owned by an Actor" {{/unless}}>
                {{#select system.combi.id}}
                  <option value=""> - </option>
                  {{#each ownedWeapons}}
                    <option value="{{this.id}}">{{this.name}}</option>
                  {{/each}}
                {{/select}}
              </select>
            </div>
          </div>
        </div>

        <div class="wrapper">
          <div class="item-form-group static">
            <label>{{localize "WEAPON.VALUE"}}</label>
            <div class="item-form-inputs small">
              <input name="system.value" type="number" value="{{system.value}}" />
            </div>
          </div>
          <div class="item-form-group static">
            <label>{{localize "WEAPON.RARITY"}}</label>
            <div class="item-form-inputs">
              <select name="system.rarity">
                {{#select system.rarity}}
                  <option value=""> - </option>
                  {{#each (config "rarity") as |rarity r|}}
                    <option value="{{r}}">{{rarity}}</option>
                  {{/each}}
                {{/select}}
              </select>
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="item-form-group">
            <label>{{localize "WEAPON.KEYWORDS"}}</label>
            <div class="item-form-inputs">
              <input name="system.keywords" type="text" value="{{system.keywords}}" />
            </div>
          </div>
        </div>

        <div class="item-list">
          <div class="header">
            <div class="item-property item-image"></div>
            <span class="item-property item-name">{{localize "HEADER.UPGRADES"}}</span>
            <div class="item-controls">
            </div>
          </div>
          {{#each item.upgrades as |upgrade u|}}
            <div class="item" data-index="{{u}}">
              <div class="item-content">
                <img class="item-property item-image" src="{{upgrade.img}}"></img>
                <div class="item-property item-name upgrade-name">{{upgrade.name}}</div>

                <div class="item-property flex"></div>
                <div class="item-controls">
                  <a class="item-control upgrade-delete" title="Delete Upgrade"><i class="fas fa-times"></i></a>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>

      <div class="tab" data-group="primary" data-tab="effects">
        {{> systems/wrath-and-glory/template/item/tab/effects.hbs}}
      </div>
    </div>
  </div>
</form>