<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">
    <div class="gear-fields">
        <div class="input-group">
            <label>{{localize "RESOURCE.INFLUENCE"}}</label>
            <input type="text" name="system.resources.influence" value="{{system.resources.influence}}">
        </div>
        <h2 class="sheet-divider">{{localize "TITLE.WARGEAR"}}</h2>
        <div class="input-group">
            <label>{{localize "RESOURCE.WEALTH"}}</label>
            <input type="text" name="system.resources.wealth" value="{{system.resources.wealth}}">
        </div>
    </div>

    {{#each inventory as |section s|}}
        <div class="sheet-list">
            <div class="list-header row-content">
                <div class="list-name">{{localize section.header}}</div>
                {{#if section.equippable}}
                    <div class="small">{{localize "ITEM.EQP"}}</div>
                {{/if}}
                {{#if section.quantity}}
                    <div>{{localize "ITEM.QTY"}}</div>
                {{/if}}
                <div class="list-controls">
                    <a class="list-control" data-action="createItem" data-type="{{section.type}}"><i
                            class="fas fa-plus"></i></a>
                </div>
            </div>
            {{#each section.items as |item|}}
            <div class="list-content">
                <div class="list-row" data-uuid="{{item.uuid}}">
                        <div class="row-content">
                            <div class="list-name">
                                <img src="{{item.img}}">
                                <a class="label" data-action="toggleSummary">{{item.name}}</a>
                            </div>
                            {{#if ../equippable}}

                                <div class="small">
                                    {{#if item.system.isEquipped}}
                                        <a class="checkbox" data-action="toggleProperty" data-path="system.equipped"><i
                                                class="far fa-check-circle"></i></a>
                                    {{else}}
                                        <a class="checkbox" data-action="toggleProperty" data-path="system.equipped"><i
                                                class="far fa-circle"></i></a>
                                    {{/if}}
                                </div>
                            {{/if}}


                            {{#if ../quantity}}
                                <div class="quantity">
                                    <button type="button" data-action="stepProperty" data-path="system.quantity" data-reversed="true"
                                        data-type="decrement">-</button>
                                    {{item.system.quantity}}
                                    <button type="button" data-action="stepProperty" data-path="system.quantity" data-type="increment">+</button>
                                </div>
                            {{/if}}
                            <div class="list-controls">
                                <a class="list-control context-menu"><i class="fa-regular fa-ellipsis-vertical"></i></a>
                            </div>
                        </div>
                        <div class="dropdown-content collapsed">
                            
                        </div>
                        {{> sheetButtons document=item}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{/each}}
</section>