<div class="wrapper">
    {{#unless hideSelfTest}}
    <div class="item-form-group static">
        <label>{{localize "ABILITY.TEST_SELF"}}</label>
        <div class="item-form-inputs">
            <div class="wng-checkbox {{#if system.test.self}}checked{{else}}unchecked{{/if}}" data-target="system.test.self">
            {{#if system.test.self}}
            <i class="fas fa-check"></i>
            {{/if}}
            </div>
        </div>
    </div> 
    {{/unless}}
    <div class="item-form-group">
        <label>{{localize "DIALOG.DN"}}</label>
        <div class="item-form-inputs small">
            <input name="system.test.dn" class="dn" placeholder="DN" type="number" value="{{system.test.dn}}" />
        </div>
        <div class="item-form-inputs">
            <select name="system.test.type" class="type">
                {{#select system.test.type}}
                    <option value="">-</option>
                    {{#each (config "testTypes") as |type k|}}
                        <option value="{{k}}">{{type}}</option>
                    {{/each}}
                {{/select}}
            </select>
            {{#if (eq system.test.type "attribute")}}
                <select name="system.test.specification" class="attribute">
                    {{#select system.test.specification}}
                        <option value="">-</option>
                        {{#each (config "attributes") as |attribute k|}}
                            <option value="{{k}}">{{attribute}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            {{/if}}
            {{#if (eq system.test.type "skill")}}
                <select name="system.test.specification" class="skill">
                    {{#select system.test.specification}}
                        <option value="">-</option>
                        {{#each (config "skills") as |skill k|}}
                            <option value="{{k}}">{{skill}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            {{/if}}
            {{#if (eq system.test.type "resolve")}}
                <select name="system.test.specification" class="resolve">
                    {{#select system.test.specification}}
                        <option value="">-</option>
                        {{#each (config "resolveTests") as |test k|}}
                            <option value="{{k}}">{{test}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            {{/if}}
            {{#if (eq system.test.type "conviction")}}
                <select name="system.test.specification" class="conviction">
                    {{#select system.test.specification}}
                        <option value="">-</option>
                        {{#each (config "convictionTests") as |test k|}}
                            <option value="{{k}}">{{test}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            {{/if}}
        </div>
    </div>
</div>