<div class="wrath-and-glory chat roll damageRoll">
    <div class="wrapper">
        <h3>{{context.title}} - Damage</h3>

        <div class="dice-container">
            {{#each result.dice as |die index|}}
            <a class="die {{die.name}} unshifted" data-index="{{index}}"><img src="{{die.img}}"/>
                {{#if die.rerolled}}
                        <span class="reroll die-icon"><i class="fas fa-redo"></i></span>
                {{/if}}    
            </a>
            {{/each}}
        </div>
    </div>

    <div class="wrapper-input">
        <p><strong>{{localize "WEAPON.DAMAGE"}}: {{result.total}}</strong></p>
        {{#if result.ap}}
        <p><strong>{{localize "WEAPON.AP"}}: {{result.ap}}</strong></p>
        {{/if}}

        {{#if result.other.mortal.total}}
        <p><strong title="{{result.other.mortal.value}} + {{result.other.mortal.bonus}}">{{localize "CHAT.MORTAL"}}: {{result.other.mortal.total}}</strong></p>
        {{/if}}

        {{#if result.other.wounds.total}}
        <p><strong title="{{result.other.wounds.value}} + {{result.other.wounds.bonus}}">{{localize "CHAT.WOUNDS"}}: {{result.other.wounds.total}}</strong></p>
        {{/if}}

        {{#if result.other.shock.total}}
        <p><strong title="{{result.other.shock.value}} + {{result.other.shock.bonus}}">{{localize "CHAT.SHOCK"}}: {{result.other.shock.total}}</strong></p>
        {{/if}}

        {{#if item.system.traits}}
        <p><strong>{{localize "WEAPON.TRAITS"}}: {{item.system.traits.formatted}}</strong></p>
        {{/if}}
    </div>
</div>
