<div class="wrath-and-glory chat roll damageRoll">
    <div class="wrapper">
        <h3 data-tooltip="{{this.result.breakdown.ed}}" data-tooltip-direction="UP">{{context.title}} - Damage</h3>

        <div class="dice-container">
            {{#each result.dice as |die index|}}
                <a class="die {{die.name}} unshifted" data-action="toggleDie" data-index="{{index}}" data-tooltip="+{{die.value}}" data-tooltip-direction="UP"><img src="{{die.img}}" />
                    {{#if die.rerolled}}
                        <span class="reroll die-icon"><i class="fas fa-redo"></i></span>
                    {{/if}}
                </a>
            {{/each}}
        </div>
    </div>

    <div class="wrapper-input">
        {{#if targetTokens.length}}
            <div class="targets">
                <a class="crosshair">
                    <i class="fas fa-crosshairs"></i>
                </a>
                {{#each targetTokens as |target t|}}
                    <a class="target" data-token-id="{{target._id}}">{{target.name}}</a>
                {{/each}}
            </div>
        {{/if}}
        <p data-tooltip="{{this.result.breakdown.damage}}" data-tooltip-direction="LEFT"><strong>{{localize "WEAPON.DAMAGE"}}: {{result.total}}</strong></p>
        {{#if result.ap}}
            <p data-tooltip="{{this.result.breakdown.ap}}" data-tooltip-direction="LEFT"><strong>{{localize "WEAPON.AP"}}: {{result.ap}}</strong></p>
        {{/if}}

        {{#if result.other.mortal}}
            <p data-tooltip="{{this.result.breakdown.mortal}}" data-tooltip-direction="LEFT"><strong>{{localize "CHAT.MORTAL"}}: {{result.other.mortal}}</strong></p>
        {{/if}}

        {{#if result.other.wounds}}
            <p data-tooltip="{{this.result.breakdown.wounds}}" data-tooltip-direction="LEFT"><strong>{{localize "CHAT.WOUNDS"}}: {{result.other.wounds}}</strong></p>
        {{/if}}

        {{#if result.other.shock}}
            <p data-tooltip="{{this.result.breakdown.shock}}" data-tooltip-direction="LEFT"><strong>{{localize "CHAT.SHOCK"}}: {{result.other.shock}}</strong></p>
        {{/if}}

        {{#if item.system.traits.list.length}}
            <p><strong>{{localize "WEAPON.TRAITS"}}: {{item.system.traits.formatted}}</strong></p>
        {{/if}}
    </div>

    {{#if context.appliedReport}}
    <h3 style="margin-top: 7px">Applied Damage</h3>
    <div class="wrapper-input">
        {{{context.appliedReport}}}
    </div>
    {{/if}}

    {{#unless context.appliedReport}}
    <button type="button" data-action="applyDamage">Apply Damage</button>
    {{/unless}}
</div>