{{log this}}
    <h3 data-tooltip="{{context.breakdown.modifiersBreakdown}}" data-tooltip-direction="LEFT">{{context.title}}</h3>
    {{#if result.dn}}
    <h4>{{localize "CHAT.DN"}} {{result.dn}}</h4>
    {{/if}}
    {{> systems/wrath-and-glory/templates/chat/roll/base/dice-container.hbs}}

    