<div class="attack">

    <div class="form-group">
        <label>{{localize "WEAPON.DAMAGE"}}</label>
        <div class="form-fields">

            <input data-tooltip="{{tooltips.damage}}" data-tooltip-direction="LEFT" name="damage" type="number"
                value="{{fields.damage}}" />
        </div>
    </div>
    <div class="form-group labels">
        <label></label>
        <div class="form-fields">
            <div>Value</div>
            <div>Dice</div>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "WEAPON.ED"}}</label>
        <div class="form-fields">

            <input data-tooltip="{{tooltips.ed}}" data-tooltip-direction="LEFT" name="ed.value" type="number"
                value="{{fields.ed.value}}" />
            <input data-tooltip="{{tooltips.ed.dice}}" data-tooltip-direction="LEFT" name="ed.dice" type="text"
                value="{{fields.ed.dice}}" />
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "WEAPON.AP"}}</label>
        <div class="form-fields">

            <input data-tooltip="{{tooltips.ap}}" data-tooltip-direction="LEFT" name="ap.value" type="number"
                value="{{fields.ap.value}}" />
            <input data-tooltip="{{tooltips.ap.dice}}" data-tooltip-direction="LEFT" name="ap.dice" type="text"
                value="{{fields.ap.dice}}" />
        </div>
    </div>
    {{#if data.weapon.isRanged}}
        <div class="form-group">
            <label>{{localize "WEAPON.RANGE"}}</label>
            <div class="form-fields">

                <input style="flex: 0 0 50px" data-tooltip="{{tooltips.distance}}" data-tooltip-direction="LEFT"
                    name="distance" type="number" value="{{fields.distance}}" />
                <select {{#if fields.distance}}disabled{{/if}} data-tooltip="{{tooltips.range}}"
                    data-tooltip-direction="LEFT" name="range">
                    {{#select fields.range}}
                        <option></option>
                        {{#each (config "ranges") as |range r|}}
                            <option value="{{r}}">{{range}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label style="flex: unset;">{{localize "WEAPON.AIM"}}</label>
            <div class="form-fields">
            <input type="checkbox" name="aim" {{checked fields.aim}}>
            </div>
        </div>
    {{else if data.weapon.isMelee}}
        <div class="form-group">
            <label style="flex: unset;">{{localize "WEAPON.CHARGING"}}</label>
            <div class="form-fields">

                <input type="checkbox" name="charging" {{checked fields.charging}}>
            </div>
        </div>
    {{/if}}
    <hr>
    <div class="form-group labels">
        <label></label>
        <div class="form-fields">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
        </div>
    </div>
    <div class="ed-values form-group">
        <label>{{localize "ED Values"}}</label>

        <div class="form-fields">
            <input {{#if (gt fields.damageDice.addValue 0)}}disabled{{/if}} data-tooltip="{{tooltips.ones}}"
                type="number" name="damageDice.values.ones" value="{{fields.damageDice.values.ones}}" />
            <input {{#if (gt fields.damageDice.addValue 1)}}disabled{{/if}} data-tooltip="{{tooltips.twos}}"
                type="number" name="damageDice.values.twos" value="{{fields.damageDice.values.twos}}" />
            <input {{#if (gt fields.damageDice.addValue 2)}}disabled{{/if}} data-tooltip="{{tooltips.threes}}"
                type="number" name="damageDice.values.threes" value="{{fields.damageDice.values.threes}}" />
            <input {{#if (gt fields.damageDice.addValue 3)}}disabled{{/if}} data-tooltip="{{tooltips.fours}}"
                type="number" name="damageDice.values.fours" value="{{fields.damageDice.values.fours}}" />
            <input {{#if (gt fields.damageDice.addValue 4)}}disabled{{/if}} data-tooltip="{{tooltips.fives}}"
                type="number" name="damageDice.values.fives" value="{{fields.damageDice.values.fives}}" />
            <input data-tooltip="{{tooltips.sixes}}" type="number" name="damageDice.values.sixes"
                value="{{fields.damageDice.values.sixes}}" />
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "Add Dice Value"}}</label>
        <div class="form-fields">
            <input data-tooltip="{{tooltips.damageDice.addValue}}" data-tooltip-direction="LEFT"
                name="damageDice.addValue" type="number" value="{{fields.damageDice.addValue}}" />
        </div>
    </div>
</div>