<form>
    <h1>{{title}}</h1>
    {{log this}}
    <div class="dialog-content">
        <div class="dialog-fields">
            {{#if data.targets.length}}
                <div class="targets">
                    <a class="crosshair">
                        <i class="fas fa-crosshairs"></i>
                    </a>
                    {{#each data.targets as |target t|}}
                        <a class="target" data-token-id="{{target.id}}">{{target.name}}</a>
                    {{/each}}
                </div>
            {{/if}}
            <div class="wrapper" {{#if noDn }}style="display: none" {{/if}} data-tooltip="{{tooltips.difficulty}}" data-tooltip-direction="LEFT">
                <label>{{localize "DIALOG.DN"}}</label>
                <input name="difficulty" type="number" value="{{fields.difficulty}}" />
            </div>
            <div class="wrapper" data-tooltip="{{tooltips.pool}}" data-tooltip-direction="LEFT">
                <label>{{localize "DIALOG.DICE_POOL"}}</label>
                <input name="pool" type="number" value="{{fields.pool}}" />
            </div>
            {{#unless noWrath}}
                <div class="wrapper" data-tooltip="{{tooltips.wrath}}" data-tooltip-direction="LEFT">
                    <label>{{localize "DIALOG.WRATH"}}</label>
                    <input name="wrath" class="base" type="number" value="{{fields.wrath}}" />
                </div>
            {{/unless}}
            <div class="wrapper">
                <label>{{localize "DIALOG.ROLLMODE"}}</label>
                <select name="rollMode">
                    {{selectOptions rollModes selected=fields.rollMode localize=true }}
                </select>
            </div>

            {{{subTemplate}}}
        </div>

            {{> dialogModifiers}}
    </div>

    <button type="submit">{{localize "Roll"}}</button>
</form>