<div class="wrath-and-glory dialog weapon-dialog">
    <div class="wrapper-left">
        <h1>{{localize skill.label}}</h1>
        {{#if targets.length}}
        <div class="targets">
                <a class="crosshair">
                        <i class="fas fa-crosshairs"></i>
                </a>
                {{#each targets as |target t|}}
                    <a class="target" data-token-id="{{target.id}}">{{target.name}}</a>
                {{/each}}
        </div>
        {{/if}}
        <div class="wrapper">
            <b class="name"></b>
            <b class="base">{{localize "DIALOG.BASE"}}</b>
            <b class="rank">{{localize "DIALOG.RANK"}}</b>
            <b class="bonus">{{localize "DIALOG.BONUS"}}</b>
        </div>
        <div class="wrapper">
            <label class="name">{{localize "DIALOG.DN"}}</label>
            <input id="difficulty-target" class="difficulty base" type="number" value="{{difficulty.target}}" />
            <select id="difficulty-rank" class="difficulty rank">
                {{#select weapon.ed.rank}}
                {{#each (config "difficultyRankTypes" )as |rank r|}}
                <option value="{{r}}">{{rank}}</option>
                {{/each}}
                {{/select}}
            </select>
            <input id="difficulty-penalty" class="difficulty bonus" type="number" value="{{difficulty.penalty}}" />
        </div>
        <div class="wrapper">
            <label class="name">{{localize "DIALOG.DICE_POOL"}}</label>
            <input id="pool-size" class="pool base" type="number" value="{{pool.size}}" />
            <select id="pool-rank" class="pool rank">
                {{#select pool.rank}}
                {{#each (config "rankTypes") as |rank r|}}
                <option value="{{r}}">{{rank}}</option>
                {{/each}}
                {{/select}}
            </select>
            <input id="pool-bonus" class="pool bonus" type="number" value="{{pool.bonus}}" />
        </div>
    </div>
    <div class="wrapper">
        <label class="name">{{localize "DIALOG.WRATH"}}</label>
        <input id="wrath-base" class="base" type="number" value="{{wrath.base}}" />
    </div>
    <div class="wrapper-right">
        <h1 style="margin-top: 8px;">{{weapon.name}}</h1>
        <div class="wrapper">
            <b class="name"></b>
            <b class="base">{{localize "DIALOG.BASE"}}</b>
            <b class="rank">{{localize "DIALOG.RANK"}}</b>
            <b class="bonus">{{localize "DIALOG.BONUS"}}</b>
            <b class="dice">{{localize "DIALOG.DICE"}}</b>
        </div>
        <div class="wrapper">
            <label class="name">{{localize "WEAPON.DAMAGE"}}</label>
            <input id="damage-base" class="damage base" type="number" value="{{damage.base}}" />
            <select id="damage-rank" class="damage rank">
                {{#select weapon.damage.rank}}
                {{#each (config "rankTypes") as |rank r|}}
                <option value="{{r}}">{{rank}}</option>
                {{/each}}
                {{/select}}
            </select>
            <input id="damage-bonus" class="damage bonus" type="number" value="{{damage.bonus}}" />
            <input id="damage-dice" class="damage dice" type="number" value="{{damage.dice}}" />
        </div>
        <div class="wrapper">
            <label class="name">{{localize "WEAPON.ED"}}</label>
            <input id="ed-base" class="ed base" type="number" value="{{ed.base}}" />
            <select id="ed-rank" class="ed rank">
                {{#select weapon.ed.rank}}
                {{#each (config "rankTypes") as |rank r|}}
                <option value="{{r}}">{{rank}}</option>
                {{/each}}
                {{/select}}
            </select>
            <input id="ed-bonus" class="ed bonus" type="number" value="{{ed.bonus}}" />
            <input id="ed-dice" class="ed dice" type="number" value="{{ed.dice}}" />
        </div>
        <div class="wrapper">
            <label class="name">{{localize "WEAPON.AP"}}</label>
            <input id="ap-base" class="ap base" type="number" value="{{ap.base}}" />
            <select id="ap-rank" class="ap rank">
                {{#select weapon.ap.rank}}
                {{#each (config "rankTypes") as |rank r|}}
                <option value="{{r}}">{{rank}}</option>
                {{/each}}
                {{/select}}
            </select>
            <input id="ap-bonus" class="ap bonus" type="number" value="{{ap.bonus}}" />
            <input id="ap-dice" class="ap dice" type="number" value="{{ap.dice}}" />
        </div>
        {{#if weapon.isRanged}}
        <div class="wrapper">
            <label class="name">{{localize "WEAPON.RANGE"}}</label>
            <input id="distance" class="distance" type="number" value="{{distance}}" />
            <select id="range" class="range">
                {{#select range}}
                <option value=""></option>
                {{#each (config "ranges") as |range r|}}
                <option value="{{r}}">{{range}}</option>
                {{/each}}
                {{/select}}
            </select>
            <label>{{localize "WEAPON.AIM"}}</label>
            <div class="wng-checkbox aim" ></div>
        </div>
        {{/if}}

        <div class="wrapper">
            <b class="name"></b>
            <b class="die">1</b>
            <b class="die">2</b>
            <b class="die">3</b>
            <b class="die">4</b>
            <b class="die">5</b>
            <b class="die">6</b>
        </div>
        <div class="wrapper">
            <label class="name">{{localize "WEAPON.DIE_VALUE"}}</label>
            <input id="die-one" class="die" type="number" value="{{lookup damageValues '1'}}" />
            <input id="die-two" class="die" type="number" value="{{lookup damageValues '2'}}" />
            <input id="die-three" class="die" type="number" value="{{lookup damageValues '3'}}" />
            <input id="die-four" class="die" type="number" value="{{lookup damageValues '4'}}" />
            <input id="die-five" class="die" type="number" value="{{lookup damageValues '5'}}" />
            <input id="die-six" class="die" type="number" value="{{lookup damageValues '6'}}" />
        </div>
    </div>
</div>
<div class="dialog-effects">
    <div class="wrapper">
        <h1>{{localize "HEADER.EFFECTS"}}</h1>
        <select class="effect-select" multiple>
            {{#each condensedChanges as |change c|}}
            <option value={{c}} title="{{change.tooltip}}">&#8226; {{change.description}}</option>
            {{/each}}
        </select>
    </div>
</div>