<div class="wrath-and-glory chat item">
    <div class="wrapper">
        <img src="{{item.img}}" title="{{item.name}}" width="100"/>
        <h3>{{item.name}}</h3>

        <div class="wrapper-input">
            {{#if item.isKeyword}}
            <p><strong>{{localize "KEYWORD.DESCRIPTION"}}:</strong> {{{item.description}}}</p>
            {{/if}}

            {{#if item.isTalent}}
            <p><strong>{{localize "TALENT.REQUIREMENTS"}}:</strong> {{item.requirements}}</p>
            <p><strong>{{localize "TALENT.COST"}}:</strong> {{item.cost}}</p>
            <p><strong>{{localize "TALENT.DESCRIPTION"}}:</strong> {{{item.description}}}</p>
            {{/if}}

            {{#if item.isAbility}}
            <p><strong>{{localize "ABILITY.REQUIREMENTS"}}:</strong> {{item.requirements}}</p>
            <p><strong>{{localize "ABILITY.COST"}}:</strong> {{item.cost}}</p>
            <p><strong>{{localize "ABILITY.DESCRIPTION"}}:</strong> {{{item.description}}}</p>
            {{/if}}

            {{#if item.isPsychicPower}}
            <p><strong>{{localize "PSYCHIC_POWER.PREREQUISITES"}}:</strong> {{item.prerequisites}}</p>
            <p><strong>{{localize "PSYCHIC_POWER.COST"}}:</strong> {{item.cost}}</p>
            <p><strong>{{localize "PSYCHIC_POWER.DN"}}:</strong> {{item.dn}}</p>
            <p><strong>{{localize "PSYCHIC_POWER.ACTIVATION"}}:</strong> {{item.system.Activation}}</p>
            <p><strong>{{localize "PSYCHIC_POWER.DURATION"}}:</strong> {{item.duration}}</p>
            <p><strong>{{localize "PSYCHIC_POWER.RANGE"}}:</strong> {{item.range}}</p>
            <p><strong>{{localize "PSYCHIC_POWER.MULTI_TARGET"}}:</strong> {{item.MultiTarget}}</p>
            <p><strong>{{localize "PSYCHIC_POWER.KEYWORDS"}}:</strong> {{item.keywords}}</p>
            <p><strong>{{localize "PSYCHIC_POWER.POTENCY"}}:</strong> {{{item.potency}}}</p>
            <p><strong>{{localize "PSYCHIC_POWER.DESCRIPTION"}}:</strong> {{{item.description}}}</p>
            {{/if}}

            {{#if item.isArmour}}
            <p><strong>{{localize "ARMOUR.RATING"}}:</strong> {{item.rating}}</p>
            <p><strong>{{localize "ARMOUR.TRAITS"}}:</strong> {{item.system.traits.formatted}}</p>
            <p><strong>{{localize "ARMOUR.VALUE"}}:</strong> {{item.value}}</p>
            <p><strong>{{localize "ARMOUR.RARITY"}}:</strong> {{item.system.Rarity}}</p>
            <p><strong>{{localize "ARMOUR.KEYWORDS"}}:</strong> {{item.keywords}}</p>
            <p><strong>{{localize "ARMOUR.DESCRIPTION"}}:</strong> {{{item.description}}}</p>
            {{/if}}

            {{#if item.isWeapon}}
            <p><strong>{{localize "WEAPON.CATEGORY"}}:</strong> {{item.system.Category}}</p>
            <p><strong>{{localize "WEAPON.DAMAGE"}}:</strong> {{item.system.damage.formatted}}</p>
            <p><strong>{{localize "WEAPON.AP"}}:</strong> {{item.system.damage.AP}}</p>
            <p><strong>{{localize "WEAPON.ED"}}:</strong> {{item.system.damage.ED}}</p>
            <p><strong>{{localize "WEAPON.RANGE"}}:</strong> {{item.system.Range}}</p>
            <p><strong>{{localize "WEAPON.TRAITS"}}:</strong> {{item.system.traits.formatted}}</p>
            <p><strong>{{localize "WEAPON.VALUE"}}:</strong> {{item.value}}</p>
            <p><strong>{{localize "WEAPON.RARITY"}}:</strong> {{item.system.Rarity}}</p1>
            <p><strong>{{localize "WEAPON.KEYWORDS"}}:</strong> {{item.keywords}}</p>
            <p><strong>{{localize "WEAPON.DESCRIPTION"}}:</strong> {{{item.description}}}</p>
            {{/if}}

            {{#if item.isWeaponUpgrade}}
            <p><strong>{{localize "WEAPON_UPGRADE.VALUE"}}:</strong> {{item.value}}</p>
            <p><strong>{{localize "WEAPON_UPGRADE.RARITY"}}:</strong> {{item.system.Rarity}}</p1>
            <p><strong>{{localize "WEAPON_UPGRADE.KEYWORDS"}}:</strong> {{item.keywords}}</p>
            <p><strong>{{localize "WEAPON_UPGRADE.DESCRIPTION"}}:</strong> {{{item.description}}}</p>
            {{/if}}

            {{#if item.isGear}}
            <p><strong>{{localize "GEAR.VALUE"}}:</strong> {{item.value}}</p>
            <p><strong>{{localize "GEAR.RARITY"}}:</strong> {{item.system.Rarity}}</p1>
            <p><strong>{{localize "GEAR.KEYWORDS"}}:</strong> {{item.keywords}}</p>
            <p><strong>{{localize "GEAR.DESCRIPTION"}}:</strong> {{{item.description}}}</p>
            {{/if}}

            {{#if item.isTraumaticInjury}}
            <p><strong>{{localize "TRAUMATIC_INJURY.DESCRIPTION"}}:</strong> {{{item.description}}}</p>
            {{/if}}

            {{#if item.isMemorableInjury}}
            <p><strong>{{localize "MEMORABLE_INJURY.DESCRIPTION"}}:</strong> {{{item.description}}}</p>
            {{/if}}

            {{#if item.isAscension}}
            <p><strong>{{localize "ASCENSION.REQUIREMENTS"}}:</strong> {{item.requirements}}</p>
            <p><strong>{{localize "ASCENSION.INFLUENCE"}}:</strong> {{item.influence}}</p1>
            <p><strong>{{localize "ASCENSION.KEYWORDS"}}:</strong> {{item.keywords}}</p>
            <p><strong>{{localize "ASCENSION.BENEFITS"}}:</strong> {{{item.benefits}}}</p>
            <p><strong>{{localize "ASCENSION.DESCRIPTION"}}:</strong> {{{item.description}}}</p>
            {{/if}}

            {{#if item.isMutation}}
            <p><strong>{{localize "MUTATION.DESCRIPTION"}}:</strong> {{{item.description}}}</p>
            {{/if}}

            {{#if item.isAmmo}}
            <p><strong>{{localize "AMMO.QUANTITY"}}:</strong> {{item.quantity}}</p>
            <p><strong>{{localize "AMMO.VALUE"}}:</strong> {{item.value}}</p>
            <p><strong>{{localize "AMMO.RARITY"}}:</strong> {{item.system.Rarity}}</p1>
            <p><strong>{{localize "AMMO.KEYWORDS"}}:</strong> {{item.keywords}}</p>
            <p><strong>{{localize "AMMO.DESCRIPTION"}}:</strong> {{{item.description}}}</p>
            {{/if}}

            {{#if item.isAugmentic}}
            <p><strong>{{localize "AUGMENTIC.VALUE"}}:</strong> {{item.value}}</p>
            <p><strong>{{localize "AUGMENTIC.RARITY"}}:</strong> {{item.system.Rarity}}</p1>
            <p><strong>{{localize "AUGMENTIC.KEYWORDS"}}:</strong> {{item.keywords}}</p>
            <p><strong>{{localize "AUGMENTIC.DESCRIPTION"}}:</strong> {{{item.description}}}</p>
            {{/if}}
        </div>
    </div>
</div>