        {{#if result.isSuccess}}
        <div class="seal approved"></div>
        {{else}}
        <div class="seal heresy"></div>
        {{/if}}

        {{chatTargets targets=targetTokens}}
                
        <p><strong>{{localize "CHAT.SUCCESS"}}: {{result.success}}</strong></p>
        <p><strong>{{localize "CHAT.FAILURE"}}: {{result.failure}}</strong></p>
        {{#if isShiftable}}
        <p><strong>{{localize "CHAT.SHIFTING"}}: {{result.shiftsPossible}}</strong></p>
        {{/if}}