<div class="dice-container">
        {{#each result.dice as |die|}}
        <a class="die {{die.name}} unshifted" data-index="{{die.index}}"><img src="{{die.img}}"/>
            {{#if die.rerolled}}
                    <span class="reroll die-icon"><i class="fas fa-redo"></i></span>
            {{/if}}    
        </a>
        {{/each}}
    </div>
    {{#if result.shifted.length}}
    <hr>
    <h4>Shifted</h4>
    <div class="dice-container">
            {{#each result.shifted as |die|}}
            {{log this}}
            <a class="die {{die.name}} shifted" data-index="{{die.index}}"><img src="{{die.img}}"/>
                    {{#if die.shifted}}
                    <span class="die-icon shift-icon" data-tooltip="{{die.shifted.label}}" data-tooltip-direction="UP">{{die.shifted.letter}}</span>
                    {{/if}}
                    {{#if die.rerolled}}
                    <span class="reroll die-icon"><i class="fas fa-redo"></i></span>
                    {{/if}}   
            </a>
            {{/each}}
    </div>
    {{/if}}