<form autocomplete="off">
    <div class="form-group">
        <label>{{localize "AUTOCALC.DEFENCE"}}</label>
        <input type="checkbox" name="flags.wrath-and-glory.autoCalc.defence" {{checked object.flags.wrath-and-glory.autoCalc.defence}}>            
    </div>

    <div class="form-group">
        <label>{{localize "AUTOCALC.RESILIENCE"}}</label>
        <input type="checkbox" name="flags.wrath-and-glory.autoCalc.resilience" {{checked object.flags.wrath-and-glory.autoCalc.resilience}}>            
    </div>

    {{#if isAgent}}
    <div class="form-group">
        <label>{{localize "AUTOCALC.SHOCK"}}</label>
        <input type="checkbox" name="flags.wrath-and-glory.autoCalc.shock" {{checked object.flags.wrath-and-glory.autoCalc.shock}}>            
    </div>
    {{/if}}

    <div class="form-group">
        <label>{{localize "AUTOCALC.RESOLVE"}}</label>
        <input type="checkbox" name="flags.wrath-and-glory.autoCalc.resolve" {{checked object.flags.wrath-and-glory.autoCalc.resolve}}>            
    </div>

    <div class="form-group">
        <label>{{localize "AUTOCALC.AWARENESS"}}</label>
        <input type="checkbox" name="flags.wrath-and-glory.autoCalc.awareness" {{checked object.flags.wrath-and-glory.autoCalc.awareness}}>            
    </div>
    
    
    <div class="form-group">
        <label>{{localize "AUTOCALC.DETERMINATION"}}</label>
        <input type="checkbox" name="flags.wrath-and-glory.autoCalc.determination" {{checked object.flags.wrath-and-glory.autoCalc.determination}}>            
    </div>

    {{#if isAgent}}
    <div class="form-group">
        <label>{{localize "AUTOCALC.WOUNDS"}}</label>
        <input type="checkbox" name="flags.wrath-and-glory.autoCalc.wounds" {{checked object.flags.wrath-and-glory.autoCalc.wounds}}>            
    </div>
    {{/if}}

    <div class="form-group">
        <label>{{localize "AUTOCALC.CONVICTION"}}</label>
        <input type="checkbox" name="flags.wrath-and-glory.autoCalc.conviction" {{checked object.flags.wrath-and-glory.autoCalc.conviction}}>            
    </div>

    <hr>

    <div class="form-group">
        <label>{{localize "AUTOCALC.AUTO_WOUNDED"}}</label>
        <input type="checkbox" name="flags.wrath-and-glory.autoWounded" {{checked object.flags.wrath-and-glory.autoWounded}}>            
    </div>

    <div class="form-group">
        <label>{{localize "AUTOCALC.AUTO_EXHAUSTED"}}</label>
        <input type="checkbox" name="flags.wrath-and-glory.autoExhausted" {{checked object.flags.wrath-and-glory.autoExhausted}}>            
    </div>

    <hr>

    <div class="form-group">
        <label>{{localize "CONFIGURE.GenerateMetaCurrencies"}}</label>
        <input type="checkbox" name="flags.wrath-and-glory.generateMetaCurrencies" {{checked object.flags.wrath-and-glory.generateMetaCurrencies}}>            
    </div>

    <button type="submit">{{localize "Submit"}}</button>
</form>
