<div class="dialog-fields">
    <div class="quick-effect">
        <div>
            <label>Label</label>
            <div class="form-fields">
                <input type="text" class="label" name="label" value="{{label}}">
            </div>
        </div>

        <div>
            <label>Change</label>
            <select class="key" name="key">
                <option value="">-</option>
                <optgroup label="Attributes">
                    <option value="system.attributes.strength.bonus">{{localize "ATTRIBUTE.STRENGTH"}}</option>
                    <option value="system.attributes.toughness.bonus">{{localize "ATTRIBUTE.TOUGHNESS"}}</option>
                    <option value="system.attributes.agility.bonus">{{localize "ATTRIBUTE.AGILITY"}}</option>
                    <option value="system.attributes.initiative.bonus">{{localize "ATTRIBUTE.INITIATIVE"}}</option>
                    <option value="system.attributes.willpower.bonus">{{localize "ATTRIBUTE.WILLPOWER"}}</option>
                    <option value="system.attributes.intellect.bonus">{{localize "ATTRIBUTE.INTELLECT"}}</option>
                    <option value="system.attributes.fellowship.bonus">{{localize "ATTRIBUTE.FELLOWSHIP"}}</option>
                </optgroup>
                <optgroup label="Skills">
                    <option value="system.skills.athletics.bonus">{{localize "SKILL.ATHLETICS"}}</option>
                    <option value="system.skills.awareness.bonus">{{localize "SKILL.AWARENESS"}}</option>
                    <option value="system.skills.ballisticSkill.bonus">{{localize "SKILL.BALLISTIC_SKILL"}}</option>
                    <option value="system.skills.cunning.bonus">{{localize "SKILL.CUNNING"}}</option>
                    <option value="system.skills.deception.bonus">{{localize "SKILL.DECEPTION"}}</option>
                    <option value="system.skills.insight.bonus">{{localize "SKILL.INSIGHT"}}</option>
                    <option value="system.skills.intimidation.bonus">{{localize "SKILL.INTIMIDATION"}}</option>
                    <option value="system.skills.investigation.bonus">{{localize "SKILL.INVESTIGATION"}}</option>
                    <option value="system.skills.leadership.bonus">{{localize "SKILL.LEADERSHIP"}}</option>
                    <option value="system.skills.medicae.bonus">{{localize "SKILL.MEDICAE"}}</option>
                    <option value="system.skills.persuasion.bonus">{{localize "SKILL.PERSUASION"}}</option>
                    <option value="system.skills.pilot.bonus">{{localize "SKILL.PILOT"}}</option>
                    <option value="system.skills.psychicMastery.bonus">{{localize "SKILL.PSYCHIC_MASTERY"}}</option>
                    <option value="system.skills.scholar.bonus">{{localize "SKILL.SCHOLAR"}}</option>
                    <option value="system.skills.stealth.bonus">{{localize "SKILL.STEALTH"}}</option>
                    <option value="system.skills.survival.bonus">{{localize "SKILL.SURVIVAL"}}</option>
                    <option value="system.skills.tech.bonus">{{localize "SKILL.TECH"}}</option>
                    <option value="system.skills.weaponSkill.bonus">{{localize "SKILL.WEAPON_SKILL"}}</option>
                </optgroup>
                <optgroup label="Other">
                    <option value="system.combat.defence.bonus">{{localize "HEADER.DEFENCE"}}</option>
                    <option value="system.combat.resilience.bonus">{{localize "HEADER.RESILIENCE"}}</option>
                    <option value="system.combat.wounds.bonus">{{localize "HEADER.WOUNDS"}}</option>
                    <option value="system.combat.determination.bonus">{{localize "HEADER.DETERMINATION"}}</option>
                    <option value="system.combat.shock.bonus">{{localize "HEADER.SHOCK"}}</option>
                    <option value="system.combat.resolve.bonus">{{localize "HEADER.RESOLVE"}}</option>
                    <option value="system.combat.conviction.bonus">{{localize "HEADER.CONVICTION"}}</option>
                    <option value="system.combat.passiveAwareness.bonus">{{localize "HEADER.PASSIVEAWARENESS"}}</option>
                    <option value="system.combat.resilience.bonus">{{localize "HEADER.RESILIENCE"}}</option>
                    <option value="system.combat.defence.bonus">(Vehicle) Defence</option>
                    <option value="system.mnvr">(Vehicle) Maneuverability</option>
                </optgroup>
            </select>
        </div>

        <div>
            <label>Modifier</label>
            <div class="form-fields">
                <input type="number" class="modifier" name="modifier" value="0">
            </div>
        </div>
    </div>
</div>